@model IEnumerable<DataModels.Order>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <main role="main" class="pb-3">

        <h1>View your order history</h1>

        <table class="table">
            <thead>
                <tr>
                    @*                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                        @Html.DisplayNameFor(model => model.IdUser)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.PickupDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReturnDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.IdUser)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.PickupDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice) $
                        </td>
                        @if (@item.PickupDate < DateTime.Now)
                        {
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger disabled">Cancel</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancel</a>
                            </td>
                        }

                        @if ((@item.PickupDate < DateTime.Now && @item.ReturnDate > DateTime.Now) && @item.IsReturned == false )
                        {
                            <td>
                                <a asp-action="Return" asp-route-id="@item.Id" class="btn btn-primary">Return</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Return" asp-route-id="@item.Id" class="btn btn-primary disabled">Return</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </main>
</div>